# Dependencies
node_modules
.pnp
.pnp.*
.yarn

# Build outputs
.next
out
build
dist

# Testing
coverage

# Environment
.env
.env.*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vercel
.vercel

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
